@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
Création d'un nouveau collaborateur

@model Apogee.Models.Collaborateur
@{
    ViewBag.Title = "NewCollab";
}
<div id="posTopNew"></div>
<h2 class="text-center">
    @Apogee.Resources.Resources.Collaborater<br />

</h2>

<nav>
    <div class="nav nav-tabs nav-pills  nav-fill" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active font-weight-bold" id="nav-infos-tab" data-toggle="pill" href="#nav-infos" role="tab" aria-controls="nav-infos" aria-selected="true">@Apogee.Resources.Resources.Informations</a>
        <a class="nav-item nav-link font-weight-bold" id="nav-comp-tab" data-toggle="pill" href="#nav-comp" role="tab" aria-controls="nav-comp" aria-selected="false">@Apogee.Resources.Resources.Skills</a>
        <a class="nav-item nav-link font-weight-bold" id="nav-exp-tab" data-toggle="pill" href="#nav-exp" role="tab" aria-controls="nav-exp" aria-selected="false">@Apogee.Resources.Resources.Experiences</a>
    </div>
</nav>

@using (Html.BeginForm())
{
    <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">

        <div class="tab-pane fade show active" id="nav-infos" role="tabpanel" aria-labelledby="nav-infos-tab">
            <div>
                @await Component.InvokeAsync("Collaborator")
                @*@{
            Html.RenderAction("PhotoView", Model);
        }*@
            </div>
            @Html.AntiForgeryToken()
            <span class="alert-danger">
                @Html.ValidationSummary()
            </span>
            @if (ViewBag.Message != null)
            {
                <span class="text-danger">@ViewBag.Message</span>
            }

        <div>
            @*@{
            Html.RenderAction("ModifCollab", Model);
        }*@
        </div>
            <div class="form-row">
                <div class="form-group col-md-6 font-weight-bold ">
                    @Apogee.Resources.Resources.ContactEmergency <button type="button" class="btn btn-primary create" data-toggle="modal" data-target="#insertUrgence">+</button>
                </div>
            </div>
            <div>
                @* @{
                    Html.RenderAction("ListUrgence", Model);
                }*@
            </div>
            <div class="scrollTop" id="scrollNavInfosN"><a href="#posTopNew">Top</a></div>
        </div>
        <div class="tab-pane fade" id="nav-comp" role="tabpanel" aria-labelledby="nav-comp-tab">
           @* @{ Html.RenderAction("SkillsTab", Model); }*@
            </div>
        <div class="tab-pane fade" id="nav-exp" role="tabpanel" aria-labelledby="nav-exp-tab">
            <div class="form-row">
                <div class="form-group col-md-6 font-weight-bold ">
                    @Apogee.Resources.Resources.ProExperiences <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#insertExperience">+</button>
                </div>
            </div>
            <div>
                @*@{
                    Html.RenderAction("ListExperience", Model);
                }*@
            </div>
            <div class="scrollTop" id="scrollNavExpN"><a href="#posTopNew">Top</a></div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#importModale">
                @Apogee.Resources.Resources.Import
            </button>
            <input id="btnConfirm" type="submit" value="@Apogee.Resources.Resources.Confirm" class="btn btn-primary font-weight-bold m-3" />
            @*@Html.ActionLink(@Apogee.Resources.Resources.Cancel, "cancelCollab", "Collaborator", new { id = Model.Id }, new { @class = "btn btn-secondary  font-weight-bold m-3" })
               *@ </div>
            </div>
        }
        @*
        @{
            Html.RenderAction("AddLangSkillModale", Model);
        }

        @{
            Html.RenderAction("AddTechSkillModale", Model);
        }
        @{
            Html.RenderAction("AddFoncSkillModale", Model);
        }
        @{
            Html.RenderAction("AddFormationModale", Model);
        }

        @{ Html.RenderAction("AddExperienceModale", Model); }
        @{
            Html.RenderAction("ImportModale", Model);
        }
        @{ Html.RenderAction("AddUrgenceModale", Model); }
        @{ Html.RenderAction("PhotoModale", Model); }
        @{
            Html.RenderAction("ImportModale", Model);
        }
        @{
            Html.RenderAction("UpdateExperienceView", Model);
        }
        @{
            Html.RenderAction("DeleteExperienceView", Model);
        }
        @{
            Html.RenderAction("UpdateUrgenceView", Model);
        }
        @{
            Html.RenderAction("DeleteUrgenceView", Model);
        }
        @{ Html.RenderAction("PhotoViewDelete", Model); }*@


            <script src="~/Scripts/jquery/jquery-3.5.1.min.js"></script>
            @if (ViewBag.Message == null)
            {
                <script>
                    $(document).ready(function () {
                        $("body").find("* input[type!='hidden'][type!='submit'][type!='checkbox'][type!='radio']").val("");
                    });
                </script>
            }
